/*
Dans ce fichier : Toutes les rêgles globales et réutilisables
 */
body {
  background-color: black;
  color: white;
}

.highlight {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
}
